In [1]:
from pandas import DataFrame, concat
from taxcalc.calculate import *
from taxcalc.records import *
from taxcalc.parameters import *
import taxcalc.parameters as parameters

params = Parameters()

# Create a Public Use File object
tax_dta = pd.read_csv("puf.csv")

blowup_factors = "./taxcalc/StageIFactors.csv"
weights = "./taxcalc/WEIGHTS.csv"

puf = Records(tax_dta, blowup_factors, weights)

# Create a Calculator
calc = Calculator(parameters=params, records=puf)
calc.diagnostic_table()

You loaded data for 2008.
Your data have beeen extrapolated to 2013.

                                   2013     2014     2015     2016     2017
Returns (#m)                      146.7    148.4    150.6    152.7    154.6
AGI ($b)                        9,279.4  9,577.3 10,092.8 10,664.3 11,252.0
Itemizers (#m)                     44.8     45.8     47.1     48.3     49.6
Itemized Deduction ($b)         1,162.7  1,217.0  1,292.3  1,377.7  1,468.3
Standard Deduction Filers (#m)     96.5     97.2     98.1     98.9     99.5
Standard Deduction ($b)           836.2    854.8    875.7    900.8    923.1
Personal Exemption ($b)         1,099.3  1,126.3  1,156.9  1,195.7  1,235.3
Taxable income ($b)             6,560.3  6,762.4  7,162.0  7,595.4  8,033.6
Regular Tax ($b)                1,441.2  1,475.5  1,567.3  1,665.2  1,761.3
AMT income ($b)                 8,672.4  8,940.6  9,415.1  9,940.6 10,479.4
AMT amount ($b)                    32.9     34.0     36.2     38.8     41.6
AMT number (#m)                     3.8      4.0      4.2      4.4      4.7
Tax before credits ($b)         1,379.9  1,414.9  1,506.9  1,605.4  1,701.9
refundable credits ($b)           103.4    105.4    107.0    109.0    110.4
nonrefundable credits ($b)         69.2     69.0     71.6     74.0     75.6
ospctax ($b)                    1,314.2  1,347.6  1,439.8  1,538.4  1,635.9